body {
	text-align: center;
	background-color: snowwhite;
	color: #25064C;

}

#header {
	height: 450px;
	width: 100%;
	background-color: #553285;
	color: white;
}

#header h1 {
	padding-top: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 650%;
	color: #FDF2FF;
}

#header h2 {
	color: #9768D1;
	font-size: 250%;
}

#description {
	margin-top: 100px;
}

h2 {
	color: #7B52AB;

}

img {
	margin: 15px auto;
	padding: 0 -100px;
	width: 600px;
}

#footer {
	background-color: lightgray;
	margin-bottom: 0;
}


-------------
/*Gallery*/

ul {         
  padding:0 0 0 0;
  margin:0 0 0 0;
}
ul li {     
  list-style:none;
  margin-bottom:25px;           
}
ul li img {
  cursor: pointer;
  max-width: 250px;
}

--------------
/*Media*/

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
	ul li img {
		margin-right: 42px;
	}
	body {
		background-color: red;
	}
}

