body {
	text-align: center;
	background-color: snowwhite;
	color: #25064C;

}

#header {
	height: 450px;
	width: 100%;
	background-color: #553285;
	color: white;
}

#header h1 {
	padding-top: 100px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 650%;
	color: #FDF2FF;
}

#header h2 {
	color: #9768D1;
	font-size: 250%;
}

h2 {
	color: #7B52AB;

}

img {
	margin: 15px auto;
	border: 1px solid gray;
	padding: 0 -100px;
	width: 600px;
}

#footer {
	background-color: lightgray;
	margin-bottom: 0;
}